In [1]:
import pandas as pd
import pyomo.environ as *
from pyomo.opt import SolverFactory

instance_01 = pd.read_csv("instances/instance_01.csv")
vehicules = pd.read_csv("instances/vehicles.csv")
df.head()

,id,latitude,longitude,order_weight,window_start,window_end,delivery_duration
0,0,48.764246,2.348420,NaN,NaN,NaN,600
1,1,48.844975,2.341771,130.0,24600.0,34200.0,300
2,2,48.869348,2.353465,20.0,20400.0,30600.0,300
3,3,48.853561,2.351725,10.0,17100.0,28800.0,300
4,4,48.896074,2.504742,40.0,10800.0,30600.0,600

longueur_instance = len(instance_01)
print(longueur_instance)